/* Général*/
body {
    font-family : 'Roboto', sans-serif ;
    width: 100%;
    margin: auto;
}
header {
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 20%);
    position: relative;
    width: 100%;
}
h2 {
    margin: 0;
    font-size: 18px;
}
p {
    margin: 0;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.img-logo {
    width: 150px;
}
.icon-GPS {
    padding-right: 16px;
}
.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    font-size: 16px;
    font-weight: bold;
    color: #3b3b3b;
    height: 50px;
}
.explorer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding-bottom: 50px;
}
.title-explorer {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 250px;
    height: 75px;
    margin: 15px;
}
.subtitle-explorer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
button {
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 200px;
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    color: white;
}
.menu {
    margin-top: 40px;
    margin-left: 15px;
}
.section-menu {
    margin-bottom: 40px;
}
.flex-bar {
    display: flex;
    align-items: center;
}
.bar {
    display: flex;
    padding: 25px 50px 20px 30px;
    margin: 0 20px 20px 30px;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    background-color: #f2f2f2;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 3px 6px 2px #dddddd;
}
.bar:hover {
    background-color: #f0e7ff;
}
.number-bar {
    position: absolute;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 3px 8px;
    background-color: #9356DC;
    border-radius: 200px;
    color: white;
}
.icon-menu {
    display: flex;
    justify-content: flex-start;
    color: #747474;
    font-size: 21px;
    padding: 0 20px 0 0;
}
.icon-menu:hover {
    color: #9356DC;
}
.restaurant {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 20px;
    margin-bottom: 20px;
    flex-direction: column;
    height: 300px;
    background-color: white;
    box-shadow: 0 3px 6px 2px #dddddd;
    border-radius: 15px;
}
.img-restaurant {
    height: 210px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.title-restaurant {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.new {
    color: green;
    font-weight: bold;
    background-color: #99E2D0;
    padding: 7px 12px;
    margin-top: 15px;
    margin-right: 35px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px #99E2D0;
    position: absolute;
}
.new-position {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}
.section-restaurant {
    width: 100%;
    background-color: #f2f2f2;
    padding: 30px 0;
}
.title {
    margin-left: 20px;
}
.icon-heart {
    position: absolute;
}
.icon-heart-position {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
}
.footer {
    display: flex;
    background-color: #3b3b3b;
    color: white;
    flex-direction: column;
    padding: 20px;
}
.title-ohmyfood {
    font-family: 'Shrikhand';
    padding-bottom: 15px;
}
.lien-footer {
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
}
.icon-footer {
    font-size: 12px;
    margin-right: 10px;
}
.icon-footer1 {
    font-size: 13px;
    margin-right: 15px;
}